@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "lemon";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Lemon-Regular.ttf) format("truetype");
  }
}
@layer base {
  @font-face {
    font-family: "error";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/IBMPlexSansArabic-Bold.ttf) format("truetype");
  }
}
@layer base {
  @font-face {
    font-family: "title";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/IBMPlexSansArabic-Bold.ttf) format("truetype");
  }

  @layer base {
    @font-face {
      font-family: "messiri";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../fonts/ElMessiri-VariableFont_wght.ttf) format("truetype");
    }
  }
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/icon/font?kit=kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsKTAoE3eWXxuQ&skey=b8dc2088854b122f&v=v215)
    format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.error-border {
  border-color: red !important;
}
