{% load static %}
{% load humanize %}
<script src="https://cdn.jsdelivr.net/npm/jalaali-js"></script>
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Costs</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
              Yellow: "#fca311",
              Gray: "#353535",
            },
            fontFamily: {
              lemon: ["lemon"],
              error: ["error"],
              title: ["title"],
            },
          },
        },
      };
    </script>
        <style>
           body {
      font-family: "El Messiri";
    }

    p {
      font-family: "El Messiri";
    }

    div {
      font-family: "El Messiri";
    }

    h1 {
      font-family: "El Messiri";
    }

    @layer base {
      @font-face {
        font-family: "El Messiri";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/ElMessiri-VariableFont_wght.ttf) format("ttf");
      }
    }
          ::-webkit-scrollbar {
  width: 8px; /* عرض اسکرول */
  height: 100px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* رنگ اسکرول */
  border-radius: 10px;
  height: 100px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* رنگ اسکرول هنگام هاور */
}
          textarea {
            width: 100%;
            height: 100px;
            resize: none; /* Prevent resizing */
          }
    
          input,
          select,
          textarea {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            border-radius: 7px;
          }
    
          label {
            display: block;
            margin-bottom: 5px;
          }
    
          form {
            width: 300px;
          }

          input:focus {
            border: 2px solid transparent; /* کادر به طور کامل ناپدید می‌شود */
            outline: none; /* خط حاشیه پیش‌فرض مرورگر از بین می‌رود */
          }
          #id_description{
            height: 35px;

          }
          #id_amount,#id_description,#id_date{
            border:none;
            border-bottom: 2px solid black;
            outline:0;
          }
          #id_amount:focus,#id_amount:hover {
            border-right: transparent;
            outline:none!important;
            }
          input:focus{
            border: transparent;
            outline: none;
            box-shadow: none !important;
          }
          #id_cate_choices,#id_type{
            border-radius: 7px;
          }
            .container {
  overflow-y: scroll; /* فعال‌سازی اسکرول عمودی */
  scrollbar-width: none; /* مخفی کردن نوار اسکرول در فایرفاکس */
}

.container::-webkit-scrollbar {
  display: none; /* مخفی کردن نوار اسکرول در کروم و سایر مرورگرهای Webkit */
}
         
        </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
  </head>

  <body class="bg-[#eeeeee] overflow-hidden">
    <div dir="" class="flex">
      <div class="flex-1">
        <div
          dir="rtl"
          class="header h-[70px] z-40 bg-white px-5 sticky top-0 flex justify-between items-center text-[20px] font-[40px]"
        >
          <p class="text-[28px]">داشبورد</p>

          {% comment %} <div>
            <div class="icon">
              <span class="material-symbols-outlined text-[50px]">
                account_circle
              </span>
            </div>
            <div class="buttton"></div>
          </div> {% endcomment %}
        </div>
        <div>
          <div class="flex justify-evenly my-10" dir="rtl">
            <div
              class="flex justify-center py-2 w-[400px] h-[80vh] rounded-[30px] border-4 border-[#353535] px-4 bg-white"
            >

            <div>
              <div
              class="flex items-center justify-center text-center mb-4 font-title"
            >
              <p class="font-bold text-[30px]">ثبت هزینه</p>
            </div>
            <form id='error' method="POST" class='flex justify-center items-center' novalidate>
                <div class='w-[100%]'>
                  {% csrf_token %}
      
                  <div class='mb-5'>
                    <label class='text-[#fca311] value1' for="id_amount"
                  
                    >مقدار</label>
                    {{ form.amount|attr:"class:amount" }}
                    <small id="id_amountError" style="color: red; display: block;"></small>

                    <!-- <small style="color: red;">{{ form.amount.errors|join:" " }}</small> -->
                    <!-- <span class="text-red-600 font-error text-[12px]">
                    </span> -->
           
                  </div>
                  <div class='mb-5'>
                    <label class='text-[#fca311] ' for="id_description">توضیحات</label>
                  {{ form.description|attr:"class:textarea discriptiion"  }}
                  <small id="id_descriptionError" style="color: red; display: block;"></small>
        
           
                  </div>
                  <div class='mb-5'>
                    <label class='text-[#fca311] ' for="id_date">تاریخ</label>
                    {{ form.date|attr:"value:custom_value"}}  
                    <small style="color: red;">{{ form.date.errors|join:" " }}</small>
           
                  </div>
                 
                  <div class='flex justify-evenly items-center mt-5'>
                    <div class='mx-2'>
                      {{ form.type|attr:"id:id_type"  }}

                    </div>
                    <div class='mx-2 w-[150px] flex items-center justify-center '>
                         <label class='text-[#fca311] text-[14px] ' for="id_category" > </label>
                  {{ form.cate_choices|attr:"id:id_cate_choices" }}
        
                    </div>
                  </div>

        
                  
                  <!-- <input
                    type="text"
                    id="id_date"
                    name="date"
                    dir="rtl"
                    value="{{ persian_today }}"
                  /> -->
        
                  <div class="flex items-center justify-center">
                    <button
                      type="submit"
                      class="rounded-xl bg-[#fca311] text-white font-bold py-[8px] px-12 mt-8"
                    >
                      ثبت
                    </button>
                  </div>
                
                </div>
              
              </form>

            </div>

            
                
         
            </div>

            <div
              class="w-[400px] h-[80vh] rounded-[30px] bg-[#353535]  text-center overflow-auto container">   
            <!-- <h3>هزینه های ثبت شده:</h3> -->
              <table class='w-[100%]  '>
                  <form  method="GET" style="margin-bottom: 20px;" class='flex justify-center '>
                    <div class='w-[100%] sticky top-0 z-10 bg-[#353535]'>
                   <!-- <label for="filter">نمایش هزینه‌ها براساس:</label> -->
                   <div class="flex justify-center sticky top-5">
                       <select
                    class="w-[130px]  my-5 text-center  rounded-xl bg-transparent border-Yellow border-[3px] text-white focus:border-Yellow hover:border-Yellow"
                    name="filter" id="filter" onchange="this.form.submit()">
                      <option class='text-black' value="week" {% if filter_option == 'week' %}selected{% endif %}>هفته</option>
                      <option class='text-black' value="day" {% if filter_option == 'day' %}selected{% endif %}>روز</option>
                      <option class='text-black' value="month" {% if filter_option == 'month' %}selected{% endif %}>ماه</option>
                      <option class='text-black' value="all" {% if filter_option == 'all' %}selected{% endif %}>همه</option>
                    </select> 
                   </div>
                   
                    </div>
                    
                  
                  </form>
                
                  <div class='w-[100%]'>
                    {% for cost in costs %}
                    <div id="cost-{{ cost.id }}" class='w-[100%] relative'>
                      <li class=' px-3 flex items-center justify-between my-4 bg-[#434037] w-[100%] text-white text-[12px]'>
                    


                      <div class="flex items-center">
                        <div
                      class="icon material-symbols-outlined {% if cost.type == 'income' %} text-[#3c6c6f] {% else %}text-[#ffed32]{% endif %} mx-1">
                     
                      {% if cost.type == 'income' %} 
                        trending_up 
                      {% else %}
                        trending_down 
                      {% endif %} 
                    </div> 
                    <div class='py-5 px-1'>{{ cost.description }}</div>

                      </div>  
                     


                      <div class="py-5">
                      <div class=' px-1'>{{ cost.amount|intcomma }}</div>
                      <div class=' px-1'>{{ cost.date }}</div>  
                      </div>
                      
                     
                  
                    </li>
                     
                    <form method="POST" action="{% url 'costs' child.id %}" class='w-0 absolute top-[40%]'>
                      {% csrf_token %}
                      <button type="submit" class="text-[#fca311]" name="delete_cost_id" value="{{ cost.id }}">
                        <span class="material-symbols-outlined absolute top-[3%] right-[5px] text-[15px]">
                          close
                        </span>
                      </button>
                    </form>
                    </div>
                  </div>
                  
                  {% empty %}
                  <div
                  class=" flex justify-center items-center text-center px-4"
                >
                <div>
                    <span class="material-symbols-outlined text-[90px] text-white">
                    wallet
                  </span>
                  <p class="text-white text-[20px] mt-3">
                    هنوز ثبتی وجود ندارد😊
                  </p>
                </div>
                
                </div>
                  {% endfor %}
              </table>
              {% comment %} <script>
                function deleteCost(costId) {
                  fetch(`/costs/{{ child.id }}/?cost_id=${costId}`, {
                    method: 'DELETE',
                    headers: {
                      'X-CSRFToken': getCookie('csrftoken'), 
                      'X-Requested-With': 'XMLHttpRequest',
                    },
                  })
                    .then(response => {
                      if (response.ok) {
                       
                        const costElement = document.getElementById(`cost-${costId}`);
                        if (costElement) {
                          costElement.remove();
                        }
                      } else {
                        response.json().then(data => {
                          alert(data.error || "Failed to delete the cost.");
                        });
                      }
                    })
                    .catch(error => {
                      console.error("Error:", error);
                      alert("An error occurred while deleting the cost.");
                    });
                }

              </script> {% endcomment %}

            </div>
          </div>
        </div>
      </div>





      <div
      dir="rtl"
      class="w-[16%] bg-[#D6D6D6] h-[100vh] sticky bottom-0 top-0 right-0 pt-2 "
    >
        <div class="logo flex justify-center items-center">
          <img src="{% static 'image/logo.png' %}" alt="" class="w-[158px]" />

        </div>
        <div class="grid grid-cols-1 place-content-between   gap-20 h-[85%]">
          <ul class="pt-10">
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span
                class="material-symbols-outlined  text-[35px] text-Yellow group-hover:text-white">
                  
                  home
                </span>
              </div>
              <a href="{% url 'child_dashboard' child.id %}">
                <p class="text-[15px]">داشبورد</p>
              </a>
            </li>
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span class="material-symbols-outlined  text-[35px] text-Yellow group-hover:text-white">

                  app_registration
                </span>
              </div>
              <a href="{% url 'costs' child.id %}">
                <p class="text-[15px] cursor-pointer">ثبت هزینه</p>
              </a>
            </li>
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span class="material-symbols-outlined  text-[35px] text-Yellow group-hover:text-white">

                  query_stats
                </span>
              </div>
              <a href="{% url 'details' child.id %}">
                <p class="text-[15px]">جزئیات خرج</p>
              </a>
            </li>
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span class="material-symbols-outlined  text-[35px] text-Yellow group-hover:text-white">
                  add_notes
                </span>
              </div>
              <a href="{% url 'goals' child.id %}">
                <p class="text-[15px] cursor-pointer">تعیین هدف</p>
              </a>
            </li>
            {% comment %} <li class="flex items-center mb-8">
              <div class="ml-4">
                <span class="material-symbols-outlined  text-[35px] text-Yellow group-hover:text-white">

                  add_notes
                </span>
              </div>
              <p class="text-[15px]">افزودن دسته</p>
            </li> {% endcomment %}
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span class="material-symbols-outlined  text-[35px] text-Yellow group-hover:text-white">
                  price_check    
              </span>
              </div>
              <a href="{% url 'education' child.id %}">
                <p class="text-[15px] cursor-pointer">آموزش</p>
              </a>
            </li>
          </ul>
          <ul class="bottom-0">
            
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span class="material-symbols-outlined  text-[35px] text-Yellow group-hover:text-white">

                  exit_to_app
                </span>
              </div>
              <a href="{% url 'landing' %}">
              <p class="text-[15px]">خروج</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/ag-charts-enterprise@10.3.3/dist/umd/ag-charts-enterprise.js?t=1731495815863"></script>
  <script src="{% static 'js/index.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/ag-charts-enterprise@10.3.3/dist/umd/ag-charts-enterprise.js?t=1731495816075"></script>

<script>
  
  document.addEventListener('DOMContentLoaded', () => {
    const fields = document.querySelectorAll('input, textarea, select');

    fields.forEach(field => {
        field.addEventListener('input', () => {
            const errorContainer = document.querySelector(`#${field.id}Error`);
            if (errorContainer) {
                errorContainer.style.display = 'none'; 
            }
        });
    });
});
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const typeField = document.querySelector('#id_type');
      const categoryField = document.querySelector('#id_cate_choices');

      const expenseCategories = [
          { value: 'needs', text: 'موارد ضروری' },
          { value: 'wants', text: 'خواسته ها' },
          { value: 'else', text: 'سایر' }
      ];

      const incomeCategories = [
          { value: 'parent', text: 'والدین' },
          { value: 'part_time_job', text: 'کار پاره وقت' },
          { value: 'other', text: 'دیگر' }
      ];

      const updateCategoryChoices = () => {
          const selectedType = typeField.value;
          let categories = selectedType === 'income' ? incomeCategories : expenseCategories;

  
          categoryField.innerHTML = '';

        
          categories.forEach(category => {
              const option = document.createElement('option');
              option.value = category.value;
              option.text = category.text;
              categoryField.appendChild(option);
          });
      };

    
      updateCategoryChoices();

      typeField.addEventListener('change', updateCategoryChoices);
  });
</script> 
</html>














