{% load static %} {% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>جزئیات هزینه‌ها</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Lemon&family=Lexend+Exa:wght@100..900&family=Marhey:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Scheherazade+New:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              lemon: ["lemon"],
              error: ["error"],
              title: ["title"],
              Material: ["Material Symbols Outlined"],
            },
            colors: {
              clifford: "#da373d",
              Yellow: "#fca311",
              YellowText: "#F9D876",
              Orange: "#F2C84A",
              color3: "rgb(191 161 122 / 61%)",
            },
            animation: {
              "spin-slow": "spin 3s linear infinite",
              wiggle: "wiggle 1s ease-in-out ",
              moving: "moving 1s linear ",
              moving2: "moving 3s linear ",
              linear: "linear 1s linear ",
              flipInY: "flipInY 3s ",
              lightSpeedIn: "lightSpeedIn 2s",
              slideInRight: "slideInRight 2s ",
              slideOutDown: "slideOutDown 2s",
              fadeIn: "fadeIn 0.5s ease-out",
              slideOutLeft: "slideOutLeft 2s linear",
              slideOutRight: "slideOutRight 2s linear",
            },
            keyframes: {
              flipInY: {
                "0%": {
                  webkitTransform:
                    "perspective(400px) rotate3d(0, 1, 0, 90deg)",
                  transform: "perspective(400px) rotate3d(0, 1, 0, 90deg)",
                  webkitTransitionTimingFunction: "ease-in",
                  transitionTimingFunction: "ease-in",
                  opacity: "0",
                },
                "40%": {
                  webkitTransform:
                    "perspective(400px) rotate3d(0, 1, 0, -20deg)",
                  transform: "perspective(400px) rotate3d(0, 1, 0, -20deg)",
                  webkitTransitionTimingFunction: "ease-in",
                  transitionTimingFunction: " ease-in",
                },
                "60%": {
                  webkitTransform:
                    "perspective(400px) rotate3d(0, 1, 0, 10deg)",
                  transform: "perspective(400px) rotate3d(0, 1, 0, 10deg)",
                  opacity: " 1",
                },
                "80%": {
                  webkitTransform:
                    "perspective(400px) rotate3d(0, 1, 0, -5deg)",
                  transform: "perspective(400px) rotate3d(0, 1, 0, -5deg)",
                },
                "100%": {
                  webkitTransform: "perspective(400px)",
                  transform: " perspective(400px)",
                },
              },
              wiggle: {
                "0%, 100%": { transform: "rotate(-3deg)" },
                "50%": { transform: "rotate(3deg)" },
              },
              moving: {
                "0%": { transform: "translateY(0)" },
                "50%": { transform: "translateY(-30px)" },
                "100%": { transform: "translateY(0)" },
              },
              linear: {
                "0%": {
                  opacity: "0",
                  webkiTtransform: " translateY(20px)",
                  transform: "translateY(20px)",
                },

                "100%": {
                  opacity: "1",
                  webkitTransform: "translateY(0)",
                  transform: "translateY(0)",
                },
              },
              lightSpeedIn: {
                "0%": {
                  webkitTransform: "translate3d(100%, 0, 0) skewX(-30deg)",
                  transform: "translate3d(100%, 0, 0) skewX(-30deg)",
                  opacity: " 0",
                },
                " 60%": {
                  webkitTransform: "skewX(20deg)",
                  transform: "skewX(20deg)",
                  opacity: "1",
                },
                "80%": {
                  webkitTransform: "skewX(-5deg)",
                  transform: " skewX(-5deg)",
                  opacity: "1",
                },
                "100%": {
                  webkitTransform: " none",
                  transform: "none",
                  opacity: " 1",
                },
              },
              slideInRight: {
                "0%": {
                  webkitTransform: "translateX(100%)",
                  transform: "translateX(100%)",
                  visibility: "visible",
                },
                "100%": {
                  webkitTransform: "translateX(0)",
                  transform: "translateX(0)",
                },
              },
              slideOutDown: {
                "0%": {
                  webkitTransform: "translateY(0)",
                  transform: "translateY(0)",
                },
                "100%": {
                  visibility: "hidden",
                  webkitTransform: "translateY(100%)",
                  transform: "translateY(100%)",
                },
              },
              slideOutLeft: {
                "0%": {
                  webkitTransform: "translateX(0)",
                  transform: "translateX(0)",
                },
                "100%": {
                  visibility: "hidden",
                  webkitTransform: "translateX(-100%)",
                  transform: "translateX(-100%)",
                },
              },
              slideOutRight: {
                "0%": {
                  webkitTransform: "translateX(0)",
                  transform: "translateX(0)",
                },
                "100%": {
                  visibility: " hidden",
                  webkitTransform: "translateX(100%)",
                  transform: " translateX(100%)",
                },
              },
            },
          },
        },
      };
    </script>
    <style>
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      div,
      p,
      body,
      span {
        font-family: "El Messiri";
      }

      @layer base {
        @font-face {
          font-family: "El Messiri";
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url(../fonts/ElMessiri-VariableFont_wght.ttf) format("ttf");
        }
      }

      .container {
        overflow-y: scroll;
        /* فعال‌سازی اسکرول عمودی */
        scrollbar-width: none;
        /* مخفی کردن نوار اسکرول در فایرفاکس */
      }

      .container::-webkit-scrollbar {
        display: none;
        /* مخفی کردن نوار اسکرول در کروم و سایر مرورگرهای Webkit */
      }
    </style>
  </head>

  <body class="bg-[#eeeeee] overflow-hidden">
    <div class="flex">
      <div class="flex-1">
        <div
          dir="rtl"
          class="header h-[70px] z-40 bg-white px-5 sticky top-0 flex justify-between items-center text-[20px] font-[40px]"
        >
          <p class="text-[28px]">داشبورد {{child.username}}😊</p>
          {% if is_parent %}
          <div>
            <div class="icon flex items-center" dir="rtl">
              <span
                class="select-none dropdown z-10 relative cursor-pointer material-symbols-outlined mx-1 text-[30px] text-[#fca311]"
              >
                keyboard_arrow_down
              </span>

              <div class="relative hidden" id="dropdown-menu">
                <ul
                  class="overflow-hidden absolute rounded-[46px] z-10 top-[28px] left-[61px] pb-3 pt-[2.5rem] bg-[rgb(214_214_214)] transition-[height] w-[170px]"
                >
                  {% for child in children %}
                  <li class="transition-[height] bg-[rgb(67_64_55_/68%)] my-2">
                    <a
                      href="{% url 'details' child.id %}"
                      class="block py-2 px-6 text-white hover:bg-[#bbbb] text-center"
                      style="cursor: pointer"
                    >
                      {{ child.username }}
                    </a>
                  </li>
                  {% empty %}
                  <li class="flex items-center justify-center text-[13px] mb-9">
                    <p>هیچ فرزندی وجود ندارد</p>
                  </li>
                  {% endfor %}
                </ul>
                <div
                  class="absolute top-[-5] left-[57px] rotate-[64deg] w-0 h-0 border-x-[50px] border-x-transparent border-b-[100px] border-b-[rgb(214_214_214)]"
                ></div>
              </div>

              <span
                class="material-symbols-outlined mx-1 text-[40px] text-[#fca311]"
              >
                account_child_invert
              </span>
              <!-- <span class="material-symbols-outlined mx-1 text-[40px] text-[#fca311]">
            person
          </span> -->
            </div>
          </div>
          {% endif %}
        </div>

        <div class="blurDiv mr-10">
          <div class="flex justify-evenly items-end" dir="rtl">
            <div class="">
              <div
                onclick="toggleSection('needs','need')"
                id="need"
                class="toggleitem text-center w-[222px] rounded-[46px] category-header mb-10 select-none flex items-center justify-center h-[120px] cursor-pointer bg-[#353535] border-4 border-white container overflow-auto"
              >
                <div>
                  <h2 class="text-[#fca311] text-[20px]">نیازها</h2>
                  <h4 class="text-white">{{total_needs|intcomma}}</h4>
                </div>
              </div>
              <div
                onclick="toggleSection('wants','want')"
                id="want"
                class="toggleitem text-center w-[222px] rounded-[46px] category-header mb-10 select-none flex items-center justify-center h-[120px] cursor-pointer bg-[#353535] border-4 border-white container overflow-auto"
              >
                <div>
                  <h2 class="text-[#fca311] text-[20px]">خواسته‌ها</h2>
                  <h4 class="text-white">{{total_wants|intcomma}}</h4>
                </div>
              </div>
              <div
                onclick="toggleSection('others','other')"
                id="other"
                class="toggleitem text-center w-[222px] rounded-[46px] category-header mb-10 select-none flex items-center justify-center h-[120px] cursor-pointer bg-[#353535] border-4 border-white container overflow-auto"
              >
                <div>
                  <h2 class="text-[#fca311] text-[20px]">سایر</h2>
                  <h4 class="text-white">{{total_other|intcomma}}</h4>
                </div>
              </div>
            </div>

            <div class="flex-1 w-[100%]">
              <h1
                class="text-center text-[30px] text-[#FCA311] my-8 drop-shadow-[1px_1px_0px_rgba(0,5,0,1.25)]"
              >
                جزئیات هزینه‌ها
              </h1>
              <div class="w-[90%]" dir="rtl">
                <div
                  id="empty"
                  class="container flex items-center justify-center toggle-section mb-10 bg-[#353535] h-[437px] py-4 mx-10 rounded-[46px] border-4 border-white text-white"
                >
                  <div class="justify-center flex items-center">
                    <p class="text-center">یکی از فیلد هارا انتخاب کنید</p>
                    <span
                      class="material-symbols-outlined text-[35px] text-[#fca311]"
                    >
                      sentiment_satisfied
                    </span>
                  </div>
                </div>
              </div>
              <!-- Needs Section -->
              <div class="w-[90%]" dir="rtl">
                <div
                  id="needs"
                  class="hidden grid-cols-1 gap-4 place-items-between toggle-section mb-10 bg-[#353535] h-[437px] py-4 mx-10 rounded-[46px] border-4 border-white text-white container"
                >
                  {% for cost in needs %}
                  <div
                    class="border-y border-y-[#fca311] flex h-[50px] justify-between items-center my-[20px] bg-[#434037] px-12"
                  >
                    <div class="date">{{ cost.date }}</div>
                    <div class="description">{{ cost.description }}</div>
                    <div class="details">
                      <span class="amount">{{ cost.amount|intcomma }}T -</span>
                    </div>
                  </div>
                  {% empty %}
                  <div class="justify-center flex items-center h-[100%]">
                    <p class="text-center">
                      هیچ هزینه‌ای برای نیازها وجود ندارد.
                    </p>
                    <span
                      class="material-symbols-outlined text-[35px] text-[#fca311]"
                    >
                      sentiment_satisfied
                    </span>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <!-- Wants Section -->

              <div class="w-[90%]" dir="rtl">
                <div
                  id="wants"
                  class="container hidden grid-cols-1 gap-4 place-items-between toggle-section mb-10 bg-[#353535] h-[437px] py-4 mx-10 rounded-[46px] border-4 border-white text-white"
                >
                  {% for cost in wants %}
                  <div
                    class="border-y border-y-[#fca311] flex h-[50px] justify-between items-center my-[20px] bg-[#434037] px-12"
                  >
                    <div class="date">{{ cost.date }}</div>
                    <div class="description">{{ cost.description }}</div>
                    <div class="details">
                      <span class="amount">{{ cost.amount|intcomma }}T -</span>
                    </div>
                  </div>
                  {% empty %}
                  <div class="justify-center flex items-center h-[100%]">
                    <p class="text-center">
                      هیچ هزینه‌ای برای خواسته‌ها وجود ندارد.
                    </p>
                    <span
                      class="material-symbols-outlined text-[35px] text-[#fca311]"
                    >
                      sentiment_satisfied
                    </span>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <!-- Others Section -->
              <div class="w-[90%] justify-between" dir="rtl">
                <div
                  id="others"
                  class="container hidden grid-cols-1 gap-4 place-items-between toggle-section mb-10 bg-[#353535] h-[437px] py-4 mx-10 rounded-[46px] border-4 border-white text-white"
                >
                  {% for cost in other %}
                  <div
                    class="border-y border-y-[#fca311] flex h-[50px] justify-between items-center my-[20px] bg-[#434037] px-12"
                  >
                    <div class="date">{{ cost.date }}</div>
                    <div class="description">{{ cost.description }}</div>
                    <div class="details">
                      <span class="amount"> {{ cost.amount|intcomma }}T -</span>
                    </div>
                  </div>
                  {% empty %}
                  <div class="justify-center flex items-center h-[100%]">
                    <p>هیچ هزینه‌ای برای سایر وجود ندارد.</p>
                    <span
                      class="material-symbols-outlined text-[35px] text-[#fca311]"
                    >
                      sentiment_satisfied
                    </span>
                  </div>

                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if is_parent %}
      <div
        dir="rtl"
        class="w-[16%] bg-[#D6D6D6] h-[100vh] sticky bottom-0 top-0 right-0 pt-2"
      >
        <div class="logo flex justify-center items-center">
          <img src="{% static 'image/logo.png' %}" class="w-[150px]" alt="" />
        </div>
        <div class="grid grid-cols-1 place-content-between gap-20 h-[85%]">
          <ul class="pt-10">
            <li
              class="flex items-center mb-8 hover:bg-[#bbbbbb] group px-[35px] py-2"
            >
              <div class="ml-5">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  home
                </span>
              </div>
              {% comment %} {% if child %}
              <a href="{% url 'child_dashboard' child_id=child.id %}">
                <p class="text-[15px]">کارتابل</p>
              </a>
              {% else %} {% endcomment %}
              <a href="{% url 'parent_dashboard' child_id=child.parent.id %}">
                <p class="text-[15px]">کارتابل</p>
              </a>
              {% comment %} {% endif %} {% endcomment %}
            </li>
            {% comment %} {% if is_parent %} {% endcomment %}
            <li
              class="flex items-center mb-8 hover:bg-[#bbbbbb] group px-[35px] py-2"
            >
              <div class="ml-5">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  query_stats
                </span>
              </div>
              <a href="{% url 'details' child.id %}">
                <p class="text-[15px]">جزئیات گزارش</p>
              </a>
            </li>
            {% comment %} {% else %}
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  app_registration
                </span>
              </div>
              <a href="{% url 'costs' child.id %}">
                <p class="text-[15px] cursor-pointer">ثبت هزینه</p>
              </a>
            </li>
            {% endif %} {% endcomment %}
            <li
              class="flex items-center mb-8 hover:bg-[#bbbbbb] group px-[35px] py-2"
            >
              <div class="ml-5">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  add_notes
                </span>
              </div>
              <a href="{% url 'child_signup' child.parent.id %}">
                <p class="text-[15px]">افزودن فرزند</p>
              </a>
            </li>
          </ul>
          <ul class="bottom-0">
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-5">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  exit_to_app
                </span>
              </div>
              <a href="{% url 'landing' %}">
                <p class="text-[15px]">خروج</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      {% else %}
      <div
        dir="rtl"
        class="w-[16%] bg-[#D6D6D6] h-[100vh] sticky bottom-0 top-0 right-0 pt-2"
      >
        <div class="logo flex justify-center items-center">
          <img src="{% static 'image/logo.png' %}" class="w-[150px]" alt="" />
        </div>
        <div class="grid grid-cols-1 place-content-between gap-20 h-[85%]">
          <ul class="pt-10">
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  home
                </span>
              </div>
              <a href="{% url 'child_dashboard' child.id %}">
                <p class="text-[15px]">کارتابل</p>
              </a>
            </li>
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  app_registration
                </span>
              </div>
              <a href="{% url 'costs' child.id %}">
                <p class="text-[15px] cursor-pointer">ثبت هزینه</p>
              </a>
            </li>
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  query_stats
                </span>
              </div>
              <a href="{% url 'details' child.id %}">
                <p class="text-[15px] cursor-pointer">جزئیات خرج</p>
              </a>
            </li>
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  add_notes
                </span>
              </div>
              <a href="{% url 'goals' child.id %}">
                <p class="text-[15px] cursor-pointer">تعیین هدف</p>
              </a>
            </li>
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  price_check
                </span>
              </div>
              <a href="{% url 'education' child.id %}">
                <p class="text-[15px] cursor-pointer">آموزش</p>
              </a>
            </li>
          </ul>
          <ul class="bottom-0">
            <li class="flex items-center hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-4">
                <span
                  class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white"
                >
                  exit_to_app
                </span>
              </div>
              <a href="{% url 'landing' %}">
                <p class="text-[15px]">خروج</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
  <script>
    function toggleDropdown() {
      const dropdown = document.getElementById("dropdown-menu");
      if (dropdown.style.display === "none" || dropdown.style.display === "") {
        dropdown.style.display = "block"; // Show the dropdown
      } else {
        dropdown.style.display = "none"; // Hide the dropdown
      }
    }
  </script>
  <script>
    function toggleSection(sectionId, Id) {
      const allSections = document.querySelectorAll(".toggle-section");
      const section = document.getElementById(sectionId);
      const itemId = document.getElementById(Id);

      const toggleitem = document.querySelectorAll(".toggleitem");
      //همه سکشن ها رو ببند بجز اونیکه روش کلیک میشه
      allSections.forEach((sec) => {
        if (sec !== section) {
          sec.classList.remove("block");
          sec.classList.add("hidden");
        }
      });

      toggleitem.forEach((item) => {
        const h4 = item.querySelector("h4");
        const h2 = item.querySelector("h2");

        if (item == itemId) {
          console.log(item.querySelectorAll("h4"));
          item.classList.add("bg-[#fca311]");
          item.classList.add("border-[#353535]");
          h2.classList.add("text-black");
          // h4.classList.add("text-black")
          // let h2=item.getAttribute("h2")
          // h2.classList.add("text-black")
          // item.classList.remove("bg-[#353535]");
        } else {
          item.classList.remove("bg-[#fca311]");
          h2.classList.remove("text-black");
          h2.classList.remove("text-white");
          item.classList.remove("border-[#353535]");
          // h4.classList.remove("text-black")
          // h4.classList.add("text-white")
        }
      });

      // باز کردن فقط آیتم انتخاب‌شده
      section.classList.remove("hidden");
      section.classList.add("block");

      // itemId.classList.remove("bg-[#353535]");
      // itemId.classList.add("bg-red-600");
    }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const dropdownmenue = document.getElementById("dropdown-menu");
      const blurDiv = document.querySelector(".blurDiv");
      const dropdown = document.querySelector(".dropdown");

      dropdown.addEventListener("click", () => {
        dropdownmenue.classList.toggle("hidden");
        blurDiv.classList.toggle("blur-lg");
      });

      window.onclick = function (event) {
        if (
          !dropdown.contains(event.target) &&
          !dropdownmenue.contains(event.target)
        ) {
          dropdownmenue.classList.add("hidden");
          blurDiv.classList.remove("blur-lg");
        }
      };
    });
  </script>
</html>
