{% load humanize %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Lemon&family=Lexend+Exa:wght@100..900&family=Marhey:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Scheherazade+New:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.ag-grid.com/ag-charts-community/v5.0.0/ag-charts-community.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
              Yellow: "#fca311",
              Gray: "#353535",
            },
            animation: {
              "spin-slow": "spin 3s linear infinite",
              wiggle: "wiggle 3s ease-in-out ",
              moving: "moving 1s linear ",
              moving2: "moving 3s linear ",
              linear: "linear 1s linear ",
              flipInY: "flipInY 3s ",
              lightSpeedIn:"lightSpeedIn 1s",
              slideInRight:"slideInRight 2s ",
              slideOutDown:"slideOutDown 2s",
              fadeIn: 'fadeIn 0.5s ease-out',


            },
            keyframes: {
              flipInY: {
                "0%": {
                  webkitTransform:
                    "perspective(400px) rotate3d(0, 1, 0, 90deg)",
                  transform: "perspective(400px) rotate3d(0, 1, 0, 90deg)",
                  webkitTransitionTimingFunction: "ease-in",
                  transitionTimingFunction: "ease-in",
                  opacity: "0",
                },
                "40%": {
                  webkitTransform:
                    "perspective(400px) rotate3d(0, 1, 0, -20deg)",
                  transform: "perspective(400px) rotate3d(0, 1, 0, -20deg)",
                  webkitTransitionTimingFunction: "ease-in",
                  transitionTimingFunction: " ease-in",
                },
                "60%": {
                  webkitTransform:
                    "perspective(400px) rotate3d(0, 1, 0, 10deg)",
                  transform: "perspective(400px) rotate3d(0, 1, 0, 10deg)",
                  opacity: " 1",
                },
                "80%": {
                  webkitTransform:
                    "perspective(400px) rotate3d(0, 1, 0, -5deg)",
                  transform: "perspective(400px) rotate3d(0, 1, 0, -5deg)",
                },
                "100%": {
                  webkitTransform: "perspective(400px)",
                  transform: " perspective(400px)",
                },
              },
              wiggle: {
                "0%, 100%": { transform: "rotate(-3deg)" },
                "50%": { transform: "rotate(3deg)" },
              },
              moving: {
                "0%": { transform: "translateY(0)" },
                "50%": { transform: "translateY(-30px)" },
                "100%": { transform: "translateY(0)" },
              },
              linear: {
                "0%": {
                  opacity: "0",
                  webkiTtransform: " translateY(20px)",
                  transform: "translateY(-20px)",
                },

                "100%": {
                  opacity: "1",
                  webkitTransform: "translateY(0)",
                  transform: "translateY(0)",
                },
              },
              lightSpeedIn :{
                "0%" : {
              webkitTransform: "translate3d(100%, 0, 0) skewX(-30deg)",
  transform: "translate3d(100%, 0, 0) skewX(-30deg)",
  opacity:" 0"
  },
 " 60%": {
  webkitTransform: "skewX(20deg)",
  transform: "skewX(20deg)",
  opacity: "1"
  },
  "80%":{
  webkitTransform: "skewX(-5deg)",
  transform:" skewX(-5deg)",
  opacity: "1"
  },
  "100%":{
  webkitTransform:" none",
  transform: "none",
  opacity:" 1"
  }

},  
              slideInRight: {
  "0%" :{
  webkitTransform: "translateX(100%)",
  transform: "translateX(100%)",
  visibility: "visible"
  },
  "100%":{
  webkitTransform: "translateX(0)",
  transform: "translateX(0)",
  }
  },
  slideOutDown:{
    "0%":{
    webkitTransform: "translateY(0)",
    transform: "translateY(0)"
    },
    "100%":{
    visibility: "hidden",
    webkitTransform: "translateY(100%)",
    transform: "translateY(100%)"
    }
    },
},
            fontFamily: {
              lemon: ["lemon"],
              error: ["error"],
              title: ["title"],
              Material: ["Material Symbols Outlined"],
            },
            transitionProperty: {
            'height': 'height',
            'spacing': 'margin, padding',
            }
          },
        },
      };
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <style media="only screen">
      :root {
        --button-background-color: transparent;
        --button-text-color: #212529;
        --button-color-border-primary: #d0d5dd;
        --button-hover-background-color: rgba(0, 0, 0, 0.1);
        --select-chevron: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23182230" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 9L12 15L18 9"/></svg>');

        overflow: hidden;
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto,
          "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
      }

      :root[data-dark-mode="false"] {
        background: #192232;
      }

      :root[data-dark-mode="true"] {
        --button-text-color: #f8f9fa;
        --button-color-border-primary: rgb(255, 255, 255);
        --button-hover-background-color: #2a343e;
        --select-chevron: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 9L12 15L18 9"/></svg>');

        background: #192232;
        color: white;
      }

      :root,
      body {
        height: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        display: grid;
        /* grid-auto-rows: minmax(0, 1fr);
         grid-auto-columns: minmax(0, 1fr); */
      }
      p {
        font-family: "El Messiri";
      }

      div {
        font-family: "El Messiri";
      }

      h1 {
        font-family: "El Messiri";
      }

      @layer base {
        @font-face {
          font-family: "El Messiri";
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url(../fonts/ElMessiri-VariableFont_wght.ttf) format("ttf");
        }
      }
      .triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #f39c12;
}

    </style>
  </head>

  <body class="bg-[#eeeeee] overflow-hidden">
    <div dir="" class="flex">
      <div class="flex-1">
        <div
      dir="rtl"
      class="header h-[70px] z-40 bg-white px-5 sticky top-0 flex justify-between items-center text-[20px] font-[40px]"
    >
      <p class="text-[28px]">داشبورد  {{child.username}}😊</p>
      <div>
        <div class="select-none icon flex items-center" dir="rtl">
          <span 


          class="select-none dropdown z-10 relative cursor-pointer material-symbols-outlined mx-1 text-[30px] text-[#fca311]">
            keyboard_arrow_down
          </span>
         
          <div class="relative hidden select-none"
          id="dropdown-menu"
          >
            <ul 
            class="overflow-hidden absolute rounded-[46px] z-10   top-[28px] left-[61px]  pb-3 pt-[2.5rem] bg-[rgb(214_214_214)]   transition-[height]  w-[170px]"
           >
              {% for child in children %}
              <li class=" transition-[height] bg-[rgb(67_64_55_/68%)] my-2">
                <a
                  href="{% url 'parent_dashboard' child.id %}"
                  class="block py-2 px-6 text-white hover:bg-[#bbbb] text-center  "
                  style="cursor: pointer;"
                >
                  {{ child.username }}
                </a>
              </li>
              {% empty %}
              <li class="flex items-center justify-center  text-[13px] mb-9">
                <p>
                  هیچ فرزندی وجود ندارد
                </p>
              </li>
              {% endfor %}
             
            </ul>
            <div class=" absolute top-[-5] left-[57px] rotate-[64deg] w-0 h-0 border-x-[50px] border-x-transparent border-b-[100px] border-b-[rgb(214_214_214)] ">
            </div>
          </div>
            
          
          <span class="material-symbols-outlined mx-1 text-[40px] text-[#fca311]">
            account_child_invert
          </span>
          <!-- <span class="material-symbols-outlined mx-1 text-[40px] text-[#fca311]">
            person
          </span> -->
        
      </div>

      </div>
    </div>

        <div class="blurDiv">
          <div class="px-5 py-2 mx-[32px]">
            <div class="upDashboard flex justify-between" dir="rtl">
              <div class="detailsBox w-[30%]">
                <div class="mb-3">
                  <div
                    dir="rtl"
                    class="bg-[#353535] rounded-[30px] w-[100%] h-[50vh]"
                  >
                    <div>
                      <div class="flex items-center justify-center pt-5">
                       {% if recent_costs %}
                        <span class="material-symbols-outlined text-Yellow">
                          receipt_long
                        </span>
                       
                        <h1 class="text-center text-[white]">تراکنش های اخیر</h1>
                        {% endif %}
                      </div>
  
                      <ul class="px-5 py-3">
                        {% for cost in recent_costs %}
                        <li class="flex justify-between my-4 animate-linear">
                          <div class="text-[white]">
                            {{ cost.get_cate_choices_display }}
                          </div>
                          <div class="flex items-center">
                            <p class="text-[white]">{{ cost.amount }}</p>
                            <div
                              class="icon material-symbols-outlined {% if cost.type == 'income' %} text-[#3c6c6f] {% else %}text-[#FFD100]{% endif %} mx-1"
                            >
                              {% if cost.type == 'income' %} trending_up {%else%}
                              trending_down {% endif %}
                            </div>
                          </div>
                        </li>
                        {% empty %}
                        <div
                          class="flex justify-center items-center text-center px-4 h-[35vh]"
                        >
                          <div>
                            <span class="material-symbols-outlined text-[90px] text-white"
                              >wallet</span
                            >
                            <p class="text-white text-[20px] mt-3">
                              هنوز تراکنشی وجود ندارد😊
                            </p>
                          </div>
                        </div>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="avrageBox w-[30%] border-[3px] border-[#353535] bg-white rounded-[30px] max-h-[50vh]"
              >
                <div class="title text-center mt-5">مقدار خرج</div>
                <div class="flex items-center justify-center">
                  <div class="w-[100%]">
                    <div
                      class="w-[100%] h-[70px]  justify-center my-4 text-white flex"
                    >
                      <div
                        class="rounded-full bg-[#353535] w-[88%] flex justify-start items-center"
                      >
                        <div
                          class="rounded-full border-[3px] bg-[#353535] border-[#FCA311] w-[30%] h-[100%] flex items-center justify-center"
                        >
                          امروز
                        </div>
                        <div class="flex items-center justify-center w-[56%]">
  
                        <p class=" animate-slideInRight delay-0 text-center">{{ daily_total|floatformat:2 }}t</p>
                      </div>
                    </div>
  
                    </div>
                    <div
                      class="w-[100%] h-[70px]  justify-center my-4 text-white flex"
                    >
                      <div
                        class="rounded-full bg-[#353535] w-[88%] flex justify-start items-center"
                      >
                        <div
                          class="rounded-full border-[3px] bg-[#353535] border-[#FCA311] w-[30%] h-[100%] flex items-center justify-center"
                        >
                          این هفته
                        </div>
                        <div class="flex items-center justify-center w-[56%]">
  
                        <p class=" animate-slideInRight delay-75 text-center">{{ weekly_total|floatformat:2 }}t</p>
                        </div>
                    </div>
  
                    </div>
                    <div
                      class="w-[100%] h-[70px]  justify-center my-4 text-white flex"
                    >
                      <div
                        class="rounded-full bg-[#353535] w-[88%] flex justify-start items-center"
                      >
                        <div
                          class="rounded-full border-[3px] bg-[#353535] border-[#FCA311] w-[30%] h-[100%] flex items-center justify-center"
                        >
                          این ماه
                        </div>
                        <div class="flex items-center justify-center w-[56%]">
                          <p class=" animate-slideInRight delay-300 text-center">
                            {{ monthly_total|floatformat:2 }}t
                          </p>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                dir="ltr"
                class="w-[30%] md:w-[30%] mx-2 flex items-center justify-center bg-[#353535] rounded-[30px]"
              >
                <div dir="ltr" class="w-[90%] h-[50vh]" id="myChart"></div>
              </div>
            </div>
          </div>
          <div
            class="px-[20px] downDashboard flex justify-between mx-[32px]"
            dir="rtl"
          >
            <div
              class="chart w-[30%] border-[3px] bg-white border-[#353535] rounded-[30px] flex justify-center items-center"
            >
            <canvas id="myChart2" class="w-[100%] text-white"></canvas>
            <div id="emptyChart" class="w-[100%] text-center">
            </div>          
            </div>
            <div
              class="md:relative h-[34vh] use w-[65%] bg-[#353535] rounded-[30px]"
            >
              <div class="relative">
                <div
                  id="category-container"
                  class="grid grid-cols-2 gap-2 place-items-center"
                >
               
                  <div
                    class="w-[90%] m-1 bg-white flex items-center text-center justify-center h-24 rounded-[30px]"
                  >
                    <div>
                      <div class="category">نیازها</div>
                      <div class="text-[30px] text-[#FF9E00] amount">
                        {{ needs|default:"0.00"|intcomma }}t
                      </div>
                    </div>
                  </div>
                  <div
                    class="w-[90%] m-1 bg-white flex items-center text-center justify-center h-24 rounded-[30px]"
                  >
                    <div>
                      <div class="category">خواسته ها</div>
                      <div class="text-[30px] text-[#FF9E00] amount">
                        {{ wants|default:"0.00" |intcomma}}t
                      </div>
                    </div>
                  </div>
                  <div
                    class="w-[90%] m-1 bg-white flex items-center text-center justify-center h-24 rounded-[30px]"
                  >
                    <div>
                    
                        <div class="">پس انداز</div>
                    
                      <div class="text-[30px] text-[#FF9E00]">{{savings|default:"0.00" |intcomma }}t</div>
                    </div>
                  </div>
                  <div
                    class="w-[90%] m-1 bg-white flex items-center text-center justify-center h-24 rounded-[30px]"
                  >
                    <div>
                      <div class="category">سایر</div>
                      <div class="text-[30px] text-[#FF9E00] amount">
                        {{ other|default:"0.00" |intcomma }}t
                      </div>
                    </div>
                  </div>
                </div>
  
                <div
                  class="circle flex justify-center items-center md:w-[140px] md:h-[140px] md:translate-y-[-50%] md:translate-x-[-50%] rounded-full w-[150px] h-[150px] absolute translate-x-[-50%] translate-y-[-50%] bg-[#353535] top-[50%] left-[50%]"
                >
                  <div class="text-center text-white">
                    <h1 class="text-[13px] ">هزینه های مصرفی
                     </br> این ماه
  
                    </h1>
                    {% comment %}
                    <div>
                      <select
                        id="period-select"
                        class="w-[80px] h-[40px] appearance-none text-[10px] mt-1 text-center rounded-[20px] bg-transparent border-white border-[1px] text-white focus:text-black focus:border-white hover:border-white"
                      >
                        {% for period in periods %}
                        <option value="{{ period }}">{{ period }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div
        dir="rtl"
        class="w-[16%] bg-[#D6D6D6] h-[100vh] sticky bottom-0 top-0 right-0 pt-2 "
      >
        <div class="logo flex justify-center items-center">
          <img src="{% static 'image/logo.png' %}" class="w-[150px]" alt="" />
        </div>
        <div class="grid grid-cols-1 place-content-between   gap-20 h-[85%]">
          <ul class="pt-10">
            <li class="flex items-center mb-8 hover:bg-[#bbbbbb] group  px-[35px] py-2">
              <div class="ml-5">
                <span class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white">
                  home
                </span>
              </div>
              {% if child %}
              <a href="{% url 'parent_dashboard' child_id=child.id %}">
                <p class="text-[15px] ">کارتابل</p>
              </a>
              {% else %}
              <a href="{% url 'parent_dashboard' child_id=children.0.id %}">
                <p class="text-[15px] ">کارتابل</p>
              </a>
              {% endif %}
            </li>
            <li class="flex items-center mb-8 hover:bg-[#bbbbbb] group  px-[35px] py-2">
              <div class="ml-5">
                <span class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white">
                  query_stats
                </span>
              </div>
              <a href="{% url 'details' child_id=child.id %}">
                <p class="text-[15px] ">جزئیات گزارش</p>
              </a>
            </li>
            <li class="flex items-center mb-8 hover:bg-[#bbbbbb] group  px-[35px] py-2">
              <div class="ml-5">
                <span class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white">
                  add_notes
                </span>
              </div>
              <a href="{% url 'child_signup' parent.id %}">
                <p class="text-[15px] ">افزودن فرزند</p>
              </a>
            </li>
          
          </ul>

          <ul class="bottom-0 ">
            <li class="flex items-center  hover:bg-[#bbbb] group py-2 px-[35px]">
              <div class="ml-5">
                <span class="material-symbols-outlined text-[35px] text-Yellow group-hover:text-white">
                  exit_to_app
                </span>
              </div>
              <a href="{% url 'landing' %}">
                <p class="text-[15px] ">خروج</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  {% comment %}
  <script>
     document.getElementById('period-select').addEventListener('change', function () {
     const selectedPeriod = this.value;
     const childId = {{ child.id }}; // Django will replace this with the actual child ID

     fetch(`/parent-dashboard/${childId}/?period=${encodeURIComponent(selectedPeriod)}`, {
       headers: {
         'x-requested-with': 'XMLHttpRequest'
       }
     })
     .then(response => response.json())
     .then(data => {
       const categoryContainer = document.querySelector('#category-container');
       categoryContainer.innerHTML = '';

       data.categories.forEach((category, index) => {
         const amount = data.amounts[index];
         categoryContainer.innerHTML += `
           <div class="w-[90%] m-1 bg-white flex items-center text-center justify-center h-24 rounded-[30px]">
             <div>
               <div>${category}</div>
               <div class="text-[30px] text-[#FF9E00]">${amount.toLocaleString()}t</div>
             </div>
           </div>
         `;
       });
     })
     .catch(error => console.error('Error fetching data:', error));
    });
  </script>
  {% endcomment %}


  <script src="https://cdn.jsdelivr.net/npm/ag-charts-enterprise@10.3.3/dist/umd/ag-charts-enterprise.js?t=1731495815863"></script>

  <script src="https://cdn.jsdelivr.net/npm/ag-charts-enterprise@10.3.3/dist/umd/ag-charts-enterprise.js?t=1731495816075"></script>
  <script src="../cashflow/js/data.js"></script>
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
  <script>
            document.addEventListener('DOMContentLoaded', () => {

           const dropdownmenue = document.getElementById("dropdown-menu");
           const blurDiv = document.querySelector(".blurDiv");
           const dropdown = document.querySelector(".dropdown");

           dropdown.addEventListener("click", () => {
  dropdownmenue.classList.toggle("hidden");
  blurDiv.classList.toggle("blur-lg");
});
 
           window.onclick = function(event) {
           if (!dropdown.contains(event.target) && !dropdownmenue.contains(event.target)) {
    dropdownmenue.classList.add("hidden");
    blurDiv.classList.remove("blur-lg");
  }
};

            })
    
  </script>
  <script>
        document.addEventListener('DOMContentLoaded', () => {
      const { AgCharts } = agCharts;

      const categories = {{ categories|safe }};
      const amount = {{ amount|safe }};
      const income = {{ income|safe }};


      if (!categories || !amount || categories.length !== amount.length) {
        console.error("Data is missing or mismatched.");
        return;
      }

      if (!categories.length || !amount.length ) {
        document.getElementById("myChart").innerHTML = ` <div
        class="flex justify-center items-center text-center px-4"
        >
        <div>

        <span class="material-symbols-outlined text-[88px] text-white mt-12">
        donut_small
        </span>
        <p  class="text-white text-[17px] mt-3" style="color:white;font-family:"El Messiri" ;text-align:center; margin-top: 50%;">
        😣در این ماه هیچ داده ای برای نمایش وجود ندارد</p>
        </div>

        </div>`;
        return;
      }

      const data = categories.map((category, index) => ({
        type: category,
        count: amount[index],
        percentage: ((amount[index] / amount.reduce((sum, value) => sum + value, 0)) * 100).toFixed(0),
      }));

      const numFormatter = new Intl.NumberFormat("en-US");
      const totalSpending = data.reduce((sum, d) => sum + d.count, 0);
      const totalRemaining = income - totalSpending;
      const overspending = Math.abs(totalRemaining);

      const options = {
        container: document.getElementById("myChart"),

        data,

        background: {
          fill: "#353535",

        },
        series: [
          {
            type: "donut",
            angleKey: "count",
            calloutLabelKey: "type",
            sectorLabelKey: "percentage",
            sectorLabel: {
            fontSize: 12,
            fontFamily:"El Messiri",

              color: "black",
              formatter: ({ datum }) => `${datum.percentage}%`,
            },
            calloutLabel: {
                    enabled: false,

                },
            innerRadiusRatio: 0.68,
            innerLabels: [
              {
                text:  typeof income === "number" && income === 0
                ? "مجموع هزینه ها"
                : totalRemaining < 0
                ? ":شما اینقدر بیشتر خرج کرده‌اید"
                : "باقی مانده",
                fontSize: 15,
                fontFamily:"El Messiri",
                color: "white",
                textAlign: "center"
              },
              {
                text: totalRemaining < 0
                  ? `تومان ${numFormatter.format(overspending)}`
                  : income > 0
                  ? `تومان ${numFormatter.format(totalRemaining)}`
                  : `تومان ${numFormatter.format(totalSpending)}`,
                fontSize: 13,
                spacing: 10,
                fontFamily:"El Messiri",
                color: "white",
              },
            ],
                      fills: ['#a7a7a7', '#fba110', '#ffed32', '#a47012', "#ffce56", "#284B63"],


            strokes: ["#FFFFFF"],
            tooltip: {
                    enabled: true,
                    renderer: ({ datum }) => ({
                        content: `${datum.type}: ${numFormatter.format(datum.count)} تومان`
                    }),
                },

          },
        ],
        legend: {
          position: "bottom",
          item: {
            label: {
              color: "white",
                          fontFamily:"El Messiri",

            },
          },
        },
      };

      console.log("Chart options:", options);

      AgCharts.create(options);
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  
  <script>

    const months = {{ months|safe }};
    const income_expense_data = {{ income_expense_data|safe }};
    const incomeData = income_expense_data.map(item => item.income);
    const expenseData = income_expense_data.map(item => item.expense);

      console.log("Months data:", months);
      console.log("Income data:", incomeData);
      console.log("Expense data:", expenseData);

      if (incomeData.every(item => item === 0) && expenseData.every(item => item === 0)) {
          document.getElementById("myChart2").classList.add("hidden")
          document.getElementById("emptyChart").innerHTML = 
          '<span class="text-[90px]  material-symbols-outlined text-[#fac311]">bar_chart</span><div class="">😣هیچ داده‌ای برای نمایش وجود ندارد</div>'
          
          ;
      }
      else{
      const data = {
      labels: months,
      datasets: [
        {
          label: " دخل",
          data: incomeData,
          backgroundColor: "#FFEE32",
          borderColor: "#FFD100",
          borderWidth: 1,
        },
        {
          label: " خرج",
          data: expenseData,
          backgroundColor: "#D6D6D6",
          borderColor: "#333533",
          borderWidth: 1,
        },
      ],
    };

    const options = {
      responsive: true,
      plugins: {
        legend: {
          position: "top",
        },
      },
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepSize: 20,
          },
        },
        x: {
          ticks: {
            font: {
              size: 14,
            },
          },
        },
      },
    };

    const ctx = document.getElementById("myChart2").getContext("2d");
    new Chart(ctx, {
      type: "bar",
      data: data,
      options: options,
    });
    }
  </script>
  <script>
    const dropMenueHandler=()=>{
      const dropMenue=document.querySelector(".dropMenue")
      
      if (dropMenue.style.display === "none" || dropMenue.style.display === "") {
        dropMenue.style.display = "block"; // Show the dropdown
      } else {
        dropMenue.style.display = "none"; // Hide the dropdown
      }
     

    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>
